p {
    text-align: center;
    border: dashed;
    padding: 2%;
}

.alinhar {
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 {
    text-align: center;
    margin-bottom: 5% !important;
}

img{
    padding: 5%
}

table {
    width: 100%;
}
body {
    border: dashed;
    border-color: beige;
    background-color: black;
}
.container {
    margin: 3%;
}
tr {
    background-color: aliceblue;
}

tr:hover{
    background-color: aqua !important;
}